products/n8n-n8n-carpet-photography-location-automati-20260317/assets/workflow.json
{
  "name": "n8n Carpet Photography Location Automation",
  "nodes": [
    {
      "id": "node1",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        200,
        300
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "carpet-photo-upload",
        "responseMode": "responseNode",
        "options": {
          "rawBody": true
        }
      }
    },
    {
      "id": "node2",
      "name": "Extract Image Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        400,
        300
      ],
      "parameters": {
        "mode": "manual",
        "fields": {
          "values": [
            {
              "name": "imageBase64",
              "type": "string",
              "value": "={{ $json.body.image }}"
            },
            {
              "name": "carpetId",
              "type": "string",
              "value": "={{ $json.body.carpet_id }}"
            },
            {
              "name": "carpetName",
              "type": "string",
              "value": "={{ $json.body.carpet_name }}"
            },
            {
              "name": "submittedBy",
              "type": "string",
              "value": "={{ $json.body.submitted_by }}"
            },
            {
              "name": "uploadTimestamp",
              "type": "string",
              "value": "={{ new Date().toISOString() }}"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "node3",
      "name": "Gemini Vision Analysis",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        600,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-1.5-pro-latest:generateContent?key=YOUR_GEMINI_API_KEY",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": {
          "contents": [
            {
              "parts": [
                {
                  "text": "You are an expert interior designer and location scout. Analyze this carpet image and provide: 1) Color palette (dominant colors), 2) Pattern style (geometric, floral, abstract, etc.), 3) Texture and pile description, 4) Mood and ambiance (luxurious, rustic, modern, bohemian, etc.), 5) Top 5 ideal real-world location settings where this carpet would look best (e.g., Moroccan riad, Scandinavian living room, luxury hotel lobby, etc.), 6) Recommended room types, 7) Suggested complementary decor elements. Format the response as a JSON object."
                },
                {
                  "inlineData": {
                    "mimeType": "image/jpeg",
                    "data": "={{ $json.imageBase64 }}"
                  }
                }
              ]
            }
          ],
          "generationConfig": {
            "temperature": 0.7,
            "topK": 32,
            "topP": 1,
            "maxOutputTokens": 2048
          }
        },
        "options": {}
      }
    },
    {
      "id": "node4",
      "name": "Parse AI Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        800,
        300
      ],
      "parameters": {
        "jsCode": "const response = $input.item.json;\nlet analysisText = '';\nlet analysisData = {};\n\ntry {\n  analysisText = response.candidates[0].content.parts[0].text;\n  \n  // Try to extract JSON from the response\n  const jsonMatch = analysisText.match(/```json([\\s\\S]*?)```/) || analysisText.match(/{[\\s\\S]*}/);\n  if (jsonMatch) {\n    const jsonStr = jsonMatch[1] ? jsonMatch[1].trim() : jsonMatch[0];\n    analysisData = JSON.parse(jsonStr);\n  } else {\n    // If no JSON found, structure the raw text\n    analysisData = {\n      raw_analysis: analysisText,\n      color_palette: 'See raw analysis',\n      pattern_style: 'See raw analysis',\n      mood: 'See raw analysis',\n      ideal_locations: ['See raw analysis'],\n      room_types: ['See raw analysis'],\n      complementary_decor: ['See raw analysis']\n    };\n  }\n} catch(e) {\n  analysisData = {\n    error: 'Failed to parse AI response',\n    raw_text: analysisText,\n    parse_error: e.message\n  };\n}\n\nconst previousData = $input.item.json;\n\nreturn {\n  json: {\n    carpetId: previousData.carpetId || $('Extract Image Data').item.json.carpetId,\n    carpetName: previousData.carpetName || $('Extract Image Data').item.json.carpetName,\n    submittedBy: previousData.submittedBy || $('Extract Image Data').item.json.submittedBy,\n    uploadTimestamp: previousData.uploadTimestamp || $('Extract Image Data').item.json.uploadTimestamp,\n    colorPalette: analysisData.color_palette || analysisData.colorPalette || 'Not identified',\n    patternStyle: analysisData.pattern_style || analysisData.patternStyle || 'Not identified',\n    texture: analysisData.texture || 'Not identified',\n    mood: analysisData.mood || analysisData.ambiance || 'Not identified',\n    idealLocations: Array.isArray(analysisData.ideal_locations || analysisData.idealLocations) \n      ? (analysisData.ideal_locations || analysisData.idealLocations).join(', ') \n      : JSON.stringify(analysisData.ideal_locations || analysisData.idealLocations || 'Not identified'),\n    roomTypes: Array.isArray(analysisData.room_types || analysisData.roomTypes) \n      ? (analysisData.room_types || analysisData.roomTypes).join(', ') \n      : JSON.stringify(analysisData.room_types || analysisData.roomTypes || 'Not identified'),\n    complementaryDecor: Array.isArray(analysisData.complementary_decor || analysisData.complementaryDecor) \n      ? (analysisData.complementary_decor || analysisData.complementaryDecor).join(', ') \n      : JSON.stringify(analysisData.complementary_decor || analysisData.complementaryDecor || 'Not identified'),\n    fullAnalysis: JSON.stringify(analysisData),\n    analysisStatus: 'completed',\n    processedAt: new Date().toISOString()\n  }\n};"
      }
    },
    {
      "id": "node5",
      "name": "Check Analysis Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1000,
        300
      ],
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.analysisStatus }}",
              "operation": "equal",
              "value2": "completed"
            }
          ]
        }
      }
    },
    {
      "id": "node6",
      "name": "Save to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 2,
      "position": [
        1200,
        200
      ],
      "parameters": {
        "operation": "append",
        "documentId": "YOUR_GOOGLE_SHEET_ID",
        "sheetName": "Carpet Analysis",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Carpet ID": "={{ $json.carpetId }}",
            "Carpet Name": "={{ $json.carpetName }}",
            "Submitted By": "={{ $json.submittedBy }}",
            "Upload Timestamp": "={{ $json.uploadTimestamp }}",
            "Color Palette": "={{ $json.colorPalette }}",
            "Pattern Style": "={{ $json.patternStyle }}",
            "Texture": "={{ $json.texture }}",
            "Mood": "={{ $json.mood }}",
            "Ideal Locations": "={{ $json.idealLocations }}",
            "Room Types": "={{ $json.roomTypes }}",
            "Complementary Decor": "={{ $json.complementaryDecor }}",
            "Full Analysis": "={{ $json.fullAnalysis }}",
            "Processed At": "={{ $json.processedAt }}"
          }
        },
        "options": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets OAuth2"
        }
      }
    },
    {
      "id": "node7",
      "name": "Send Telegram Notification",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        1400,
        200
      ],
      "parameters": {
        "chatId": "YOUR_TELEGRAM_CHAT_ID",
        "text": "=🎨 *Carpet Analysis Complete!*\n\n*Carpet:* {{ $json.carpetName }} (ID: {{ $json.carpetId }})\n*Submitted by:* {{ $json.submittedBy }}\n\n*Color Palette:* {{ $json.colorPalette }}\n*Pattern Style:* {{ $json.patternStyle }}\n*Mood:* {{ $json.mood }}\n\n*📍 Ideal Locations:*\n{{ $json.idealLocations }}\n\n*🛋 Room Types:* {{ $json.roomTypes }}\n\n*✨ Complementary Decor:* {{ $json.complementaryDecor }}\n\n_Processed at: {{ $json.processedAt }}_",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram Bot API"
        }
      }
    },
    {
      "id": "node8",
      "name": "Send Error Notification",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [
        1200,
        420
      ],
      "parameters": {
        "fromEmail": "your-email@example.com",
        "toEmail": "admin@example.com",
        "subject": "Carpet Analysis Failed - {{ $json.carpetId }}",
        "emailType": "text",
        "message": "=The carpet analysis workflow encountered an error.\n\nCarpet ID: {{ $json.carpetId }}\nCarpet Name: {{ $json.carpetName }}\nSubmitted By: {{ $json.submittedBy }}\nTimestamp: {{ $json.uploadTimestamp }}\n\nError Details:\n{{ $json.fullAnalysis }}\n\nPlease review the workflow logs in n8n for more details.",
        "options": {}
      },
      "credentials": {
        "smtp": {
          "id": "YOUR_SMTP_CREDENTIAL_ID",
          "name": "SMTP Email"
        }
      }
    },
    {
      "id": "node9",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1600,
        200
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"success\",\n  \"carpetId\": \"{{ $json.carpetId }}\",\n  \"carpetName\": \"{{ $json.carpetName }}\",\n  \"idealLocations\": \"{{ $json.idealLocations }}\",\n  \"colorPalette\": \"{{ $json.colorPalette }}\",\n  \"patternStyle\": \"{{ $json.patternStyle }}\",\n  \"mood\": \"{{ $json.mood }}\",\n  \"roomTypes\": \"{{ $json.roomTypes }}\",\n  \"processedAt\": \"{{ $json.processedAt }}\"\n}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      }
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Extract Image Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Image Data": {
      "main": [
        [
          {
            "node": "Gemini Vision Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Vision Analysis": {
      "main": [
        [
          {
            "node": "Parse AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Response": {
      "main": [
        [
          {
            "node": "Check Analysis Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Analysis Success": {
      "main": [
        [
          {
            "node": "Save to Google Sheets",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Error Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to Google Sheets": {
      "main": [
        [
          {
            "node": "Send Telegram Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Telegram Notification": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "tags": [
    {
      "name": "carpet",
      "createdAt": "2024-01-01T00:00:00.000Z",
      "updatedAt": "2024-01-01T00:00:00.000Z"
    },
    {
      "name": "AI Vision",
      "createdAt": "2024-01-01T00:00:00.000Z",
      "updatedAt": "2024-01-01T00:00:00.000Z"
    },
    {
      "name": "Photography",
      "createdAt": "2024-01-01T00:00:00.000Z",
      "updatedAt": "2024-01-01T00:00:00.000Z"
    }
  ]
}
