products/n8n-n8n-sms-filter-unknown-contacts-workflow-20260317/assets/workflow.json
{
  "name": "N8N SMS Filter Unknown Contacts Workflow",
  "nodes": [
    {
      "id": "node1",
      "name": "Incoming Call Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        200,
        300
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "incoming-call",
        "responseMode": "onReceived",
        "responseData": "firstEntryJson",
        "options": {}
      }
    },
    {
      "id": "node2",
      "name": "Extract Caller Number",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        400,
        300
      ],
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "assign1",
              "name": "callerNumber",
              "value": "={{ $json.body.From || $json.body.caller_number || $json.body.phone }}",
              "type": "string"
            },
            {
              "id": "assign2",
              "name": "callSid",
              "value": "={{ $json.body.CallSid || $json.body.call_id || '' }}",
              "type": "string"
            },
            {
              "id": "assign3",
              "name": "callTimestamp",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "node3",
      "name": "Fetch Google Contacts",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        600,
        300
      ],
      "parameters": {
        "method": "GET",
        "url": "https://people.googleapis.com/v1/people/me/connections",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "personFields",
              "value": "phoneNumbers,names"
            },
            {
              "name": "pageSize",
              "value": "1000"
            }
          ]
        },
        "options": {}
      },
      "credentials": {
        "googleOAuth2Api": {
          "id": "YOUR_GOOGLE_OAUTH2_CREDENTIAL_ID",
          "name": "Google OAuth2 API"
        }
      }
    },
    {
      "id": "node4",
      "name": "Check If Number In Contacts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        300
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const callerNumber = $('Extract Caller Number').first().json.callerNumber || '';\nconst contactsData = $input.first().json;\n\nconst connections = contactsData.connections || [];\n\nconst normalize = (num) => {\n  return String(num).replace(/[^0-9+]/g, '');\n};\n\nconst normalizedCaller = normalize(callerNumber);\n\nlet isKnown = false;\nlet matchedName = '';\n\nfor (const contact of connections) {\n  const phones = contact.phoneNumbers || [];\n  for (const phone of phones) {\n    const normalizedPhone = normalize(phone.value || '');\n    if (\n      normalizedPhone === normalizedCaller ||\n      normalizedPhone.endsWith(normalizedCaller.slice(-10)) ||\n      normalizedCaller.endsWith(normalizedPhone.slice(-10))\n    ) {\n      isKnown = true;\n      const names = contact.names || [];\n      matchedName = names.length > 0 ? names[0].displayName : 'Unknown';\n      break;\n    }\n  }\n  if (isKnown) break;\n}\n\nreturn [{\n  json: {\n    callerNumber: callerNumber,\n    callSid: $('Extract Caller Number').first().json.callSid,\n    callTimestamp: $('Extract Caller Number').first().json.callTimestamp,\n    isKnownContact: isKnown,\n    matchedContactName: matchedName\n  }\n}];"
      }
    },
    {
      "id": "node5",
      "name": "Is Unknown Contact?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1000,
        300
      ],
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.isKnownContact }}",
              "value2": false
            }
          ]
        }
      }
    },
    {
      "id": "node6",
      "name": "Send SMS Notification",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        1200,
        200
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.twilio.com/2010-04-01/Accounts/YOUR_TWILIO_ACCOUNT_SID/Messages.json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "To",
              "value": "YOUR_PERSONAL_PHONE_NUMBER"
            },
            {
              "name": "From",
              "value": "YOUR_TWILIO_PHONE_NUMBER"
            },
            {
              "name": "Body",
              "value": "=📞 Unknown caller alert!\nNumber: {{ $json.callerNumber }}\nTime: {{ $json.callTimestamp }}\nThis number is NOT in your Google Contacts."
            }
          ]
        },
        "options": {}
      },
      "credentials": {
        "httpBasicAuth": {
          "id": "YOUR_TWILIO_BASIC_AUTH_CREDENTIAL_ID",
          "name": "Twilio Basic Auth"
        }
      }
    },
    {
      "id": "node7",
      "name": "Log Unknown Call to Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 2,
      "position": [
        1400,
        200
      ],
      "parameters": {
        "operation": "append",
        "documentId": "YOUR_GOOGLE_SHEET_ID",
        "sheetName": "Unknown Calls",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $json.callTimestamp }}",
            "Phone Number": "={{ $json.callerNumber }}",
            "Call SID": "={{ $json.callSid }}",
            "Status": "Unknown Contact",
            "SMS Sent": "Yes"
          }
        },
        "options": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets OAuth2"
        }
      }
    },
    {
      "id": "node8",
      "name": "Log Known Call to Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 2,
      "position": [
        1200,
        420
      ],
      "parameters": {
        "operation": "append",
        "documentId": "YOUR_GOOGLE_SHEET_ID",
        "sheetName": "Unknown Calls",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $json.callTimestamp }}",
            "Phone Number": "={{ $json.callerNumber }}",
            "Call SID": "={{ $json.callSid }}",
            "Status": "=Known Contact: {{ $json.matchedContactName }}",
            "SMS Sent": "No"
          }
        },
        "options": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets OAuth2"
        }
      }
    },
    {
      "id": "node9",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1600,
        300
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"status\": \"processed\", \"known\": {{ $('Is Unknown Contact?').first().json.isKnownContact }}, \"number\": \"{{ $('Is Unknown Contact?').first().json.callerNumber }}\" }",
        "options": {
          "responseCode": 200
        }
      }
    }
  ],
  "connections": {
    "Incoming Call Webhook": {
      "main": [
        [
          {
            "node": "Extract Caller Number",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Caller Number": {
      "main": [
        [
          {
            "node": "Fetch Google Contacts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Google Contacts": {
      "main": [
        [
          {
            "node": "Check If Number In Contacts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If Number In Contacts": {
      "main": [
        [
          {
            "node": "Is Unknown Contact?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Unknown Contact?": {
      "main": [
        [
          {
            "node": "Send SMS Notification",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Known Call to Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send SMS Notification": {
      "main": [
        [
          {
            "node": "Log Unknown Call to Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Unknown Call to Sheet": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Known Call to Sheet": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "tags": [
    {
      "name": "SMS",
      "createdAt": "2024-01-01T00:00:00.000Z"
    },
    {
      "name": "Contacts",
      "createdAt": "2024-01-01T00:00:00.000Z"
    },
    {
      "name": "Phone",
      "createdAt": "2024-01-01T00:00:00.000Z"
    }
  ]
}
