products/n8n-n8n-sms-filter-unknown-contacts-workflow-20260317/assets/workflow.json
{
  "name": "N8N SMS Filter Unknown Contacts Workflow",
  "nodes": [
    {
      "id": "node1",
      "name": "Incoming Call Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        200,
        300
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "incoming-call",
        "responseMode": "onReceived",
        "responseData": "firstEntryJson",
        "options": {}
      }
    },
    {
      "id": "node2",
      "name": "Extract Caller Number",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        400,
        300
      ],
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "assign1",
              "name": "callerNumber",
              "value": "={{ $json.body.From || $json.body.caller_number || $json.body.phone }}",
              "type": "string"
            },
            {
              "id": "assign2",
              "name": "callSid",
              "value": "={{ $json.body.CallSid || $json.body.call_id || '' }}",
              "type": "string"
            },
            {
              "id": "assign3",
              "name": "callTime",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "node3",
      "name": "Fetch Google Contacts",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        600,
        300
      ],
      "parameters": {
        "method": "GET",
        "url": "https://people.googleapis.com/v1/people/me/connections",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "personFields",
              "value": "phoneNumbers,names"
            },
            {
              "name": "pageSize",
              "value": "1000"
            }
          ]
        },
        "options": {}
      },
      "credentials": {
        "googleOAuth2Api": {
          "id": "google-oauth-credential",
          "name": "Google OAuth2 API"
        }
      }
    },
    {
      "id": "node4",
      "name": "Check If Number In Contacts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        800,
        300
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const items = $input.all();\nconst callerNumber = items[0].json.callerNumber || '';\nconst connections = items[0].json.connections || [];\n\n// Normalize phone number for comparison\nfunction normalizePhone(phone) {\n  return phone.replace(/[\\s\\-().+]/g, '');\n}\n\nconst normalizedCaller = normalizePhone(callerNumber);\n\nlet isKnown = false;\nlet contactName = '';\n\nfor (const contact of connections) {\n  const phoneNumbers = contact.phoneNumbers || [];\n  for (const phoneObj of phoneNumbers) {\n    const normalized = normalizePhone(phoneObj.value || '');\n    if (normalized.endsWith(normalizedCaller) || normalizedCaller.endsWith(normalized)) {\n      isKnown = true;\n      const names = contact.names || [];\n      contactName = names.length > 0 ? names[0].displayName : 'Known Contact';\n      break;\n    }\n  }\n  if (isKnown) break;\n}\n\nreturn [{\n  json: {\n    callerNumber: callerNumber,\n    callSid: items[0].json.callSid,\n    callTime: items[0].json.callTime,\n    isKnownContact: isKnown,\n    contactName: contactName\n  }\n}];"
      }
    },
    {
      "id": "node5",
      "name": "Is Unknown Contact?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1000,
        300
      ],
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.isKnownContact }}",
              "value2": false
            }
          ]
        }
      }
    },
    {
      "id": "node6",
      "name": "Send SMS Notification",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        1200,
        200
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.twilio.com/2010-04-01/Accounts/YOUR_TWILIO_ACCOUNT_SID/Messages.json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "To",
              "value": "YOUR_NOTIFICATION_PHONE_NUMBER"
            },
            {
              "name": "From",
              "value": "YOUR_TWILIO_PHONE_NUMBER"
            },
            {
              "name": "Body",
              "value": "={{ '📞 Unknown caller: ' + $json.callerNumber + ' at ' + $json.callTime + '. Not in your Google Contacts.' }}"
            }
          ]
        },
        "options": {}
      },
      "credentials": {
        "httpBasicAuth": {
          "id": "twilio-basic-auth",
          "name": "Twilio Basic Auth"
        }
      }
    },
    {
      "id": "node7",
      "name": "Log To Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 2,
      "position": [
        1400,
        200
      ],
      "parameters": {
        "operation": "append",
        "documentId": "YOUR_GOOGLE_SHEET_ID",
        "sheetName": "Unknown Callers",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $json.callTime }}",
            "Phone Number": "={{ $json.callerNumber }}",
            "Call SID": "={{ $json.callSid }}",
            "Status": "Unknown Contact",
            "SMS Sent": "Yes"
          }
        },
        "options": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "google-sheets-credential",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "id": "node8",
      "name": "Log Known Contact",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 2,
      "position": [
        1200,
        420
      ],
      "parameters": {
        "operation": "append",
        "documentId": "YOUR_GOOGLE_SHEET_ID",
        "sheetName": "Known Callers",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $json.callTime }}",
            "Phone Number": "={{ $json.callerNumber }}",
            "Contact Name": "={{ $json.contactName }}",
            "Call SID": "={{ $json.callSid }}",
            "Status": "Known Contact",
            "SMS Sent": "No"
          }
        },
        "options": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "google-sheets-credential",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "id": "node9",
      "name": "Send Telegram Alert",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        1400,
        80
      ],
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "YOUR_TELEGRAM_CHAT_ID",
        "text": "={{ '🚨 *Unknown Caller Alert*\\n📱 Number: ' + $json.callerNumber + '\\n🕐 Time: ' + $json.callTime + '\\n❌ Not found in Google Contacts\\n✅ SMS notification sent.' }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "credentials": {
        "telegramApi": {
          "id": "telegram-api-credential",
          "name": "Telegram API"
        }
      }
    }
  ],
  "connections": {
    "Incoming Call Webhook": {
      "main": [
        [
          {
            "node": "Extract Caller Number",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Caller Number": {
      "main": [
        [
          {
            "node": "Fetch Google Contacts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Google Contacts": {
      "main": [
        [
          {
            "node": "Check If Number In Contacts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If Number In Contacts": {
      "main": [
        [
          {
            "node": "Is Unknown Contact?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Unknown Contact?": {
      "main": [
        [
          {
            "node": "Send SMS Notification",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Known Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send SMS Notification": {
      "main": [
        [
          {
            "node": "Send Telegram Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Telegram Alert": {
      "main": [
        [
          {
            "node": "Log To Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "tags": [
    {
      "name": "SMS",
      "createdAt": "2024-01-01T00:00:00.000Z"
    },
    {
      "name": "Contacts",
      "createdAt": "2024-01-01T00:00:00.000Z"
    },
    {
      "name": "Automation",
      "createdAt": "2024-01-01T00:00:00.000Z"
    }
  ]
}
