products/n8n-n8n-sms-filter-unknown-contacts-workflow-20260317/assets/workflow.json
{
  "name": "N8N SMS Filter Unknown Contacts Workflow",
  "nodes": [
    {
      "id": "node1",
      "name": "Incoming Call Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        200,
        300
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "incoming-call",
        "responseMode": "onReceived",
        "responseData": "firstEntryJson",
        "options": {}
      }
    },
    {
      "id": "node2",
      "name": "Extract Caller Number",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        400,
        300
      ],
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "assign1",
              "name": "callerNumber",
              "value": "={{ $json.body.From || $json.body.caller_number || $json.body.phone }}",
              "type": "string"
            },
            {
              "id": "assign2",
              "name": "callTimestamp",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "assign3",
              "name": "callSid",
              "value": "={{ $json.body.CallSid || $json.body.call_id || 'unknown' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "node3",
      "name": "Fetch Google Contacts",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        600,
        300
      ],
      "parameters": {
        "method": "GET",
        "url": "https://people.googleapis.com/v1/people/me/connections",
        "authentication": "oAuth2",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "personFields",
              "value": "names,phoneNumbers"
            },
            {
              "name": "pageSize",
              "value": "1000"
            }
          ]
        },
        "options": {}
      },
      "credentials": {
        "oAuth2Api": {
          "id": "google-oauth-cred",
          "name": "Google OAuth2 API"
        }
      }
    },
    {
      "id": "node4",
      "name": "Parse Contacts List",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        800,
        300
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const items = $input.all();\nconst callerNumber = items[0].json.callerNumber;\nconst callTimestamp = items[0].json.callTimestamp;\nconst callSid = items[0].json.callSid;\n\n// Get the Google Contacts response from the HTTP Request node\nconst contactsData = items[0].json;\nconst connections = contactsData.connections || [];\n\n// Extract all phone numbers from contacts\nconst savedNumbers = [];\nfor (const person of connections) {\n  const phones = person.phoneNumbers || [];\n  for (const phone of phones) {\n    // Normalize phone number by removing spaces, dashes, parentheses\n    const normalized = phone.value.replace(/[\\s\\-\\(\\)\\+]/g, '').replace(/^0/, '');\n    savedNumbers.push(normalized);\n    savedNumbers.push(phone.value.replace(/[\\s\\-\\(\\)]/g, ''));\n    savedNumbers.push(phone.value);\n  }\n}\n\n// Normalize the caller number\nconst normalizedCaller = callerNumber.replace(/[\\s\\-\\(\\)\\+]/g, '').replace(/^0/, '');\n\n// Check if caller is in contacts\nconst isKnownContact = savedNumbers.some(num => {\n  const normalizedSaved = num.replace(/[\\s\\-\\(\\)\\+]/g, '').replace(/^0/, '');\n  return normalizedSaved === normalizedCaller || \n         normalizedSaved.endsWith(normalizedCaller) || \n         normalizedCaller.endsWith(normalizedSaved);\n});\n\nreturn [{\n  json: {\n    callerNumber,\n    callTimestamp,\n    callSid,\n    isKnownContact,\n    totalContactsChecked: savedNumbers.length\n  }\n}];"
      }
    },
    {
      "id": "node5",
      "name": "Is Unknown Contact?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1000,
        300
      ],
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.isKnownContact }}",
              "value2": false
            }
          ]
        }
      }
    },
    {
      "id": "node6",
      "name": "Send SMS Notification",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        1200,
        200
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.twilio.com/2010-04-01/Accounts/YOUR_TWILIO_ACCOUNT_SID/Messages.json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "To",
              "value": "YOUR_PERSONAL_PHONE_NUMBER"
            },
            {
              "name": "From",
              "value": "YOUR_TWILIO_PHONE_NUMBER"
            },
            {
              "name": "Body",
              "value": "={{ 'Unknown caller: ' + $json.callerNumber + ' called at ' + $json.callTimestamp + '. This number is NOT in your Google Contacts.' }}"
            }
          ]
        },
        "options": {}
      },
      "credentials": {
        "httpBasicAuth": {
          "id": "twilio-basic-auth",
          "name": "Twilio Basic Auth"
        }
      }
    },
    {
      "id": "node7",
      "name": "Log to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 2,
      "position": [
        1400,
        200
      ],
      "parameters": {
        "operation": "append",
        "documentId": "YOUR_GOOGLE_SHEET_ID",
        "sheetName": "Unknown Callers",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Caller Number": "={{ $json.callerNumber }}",
            "Timestamp": "={{ $json.callTimestamp }}",
            "Call SID": "={{ $json.callSid }}",
            "SMS Sent": "Yes",
            "Contacts Checked": "={{ $json.totalContactsChecked }}"
          }
        },
        "options": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "google-sheets-cred",
          "name": "Google Sheets OAuth2"
        }
      }
    },
    {
      "id": "node8",
      "name": "Log Known Contact",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 2,
      "position": [
        1200,
        420
      ],
      "parameters": {
        "operation": "append",
        "documentId": "YOUR_GOOGLE_SHEET_ID",
        "sheetName": "Known Callers",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Caller Number": "={{ $json.callerNumber }}",
            "Timestamp": "={{ $json.callTimestamp }}",
            "Call SID": "={{ $json.callSid }}",
            "SMS Sent": "No",
            "Contacts Checked": "={{ $json.totalContactsChecked }}"
          }
        },
        "options": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "google-sheets-cred",
          "name": "Google Sheets OAuth2"
        }
      }
    },
    {
      "id": "node9",
      "name": "Notify via Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        1600,
        200
      ],
      "parameters": {
        "chatId": "YOUR_TELEGRAM_CHAT_ID",
        "text": "={{ '🚨 Unknown Caller Alert!\\n📞 Number: ' + $node['Parse Contacts List'].json.callerNumber + '\\n🕐 Time: ' + $node['Parse Contacts List'].json.callTimestamp + '\\n✅ SMS notification sent.' }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "credentials": {
        "telegramApi": {
          "id": "telegram-cred",
          "name": "Telegram Bot API"
        }
      }
    }
  ],
  "connections": {
    "Incoming Call Webhook": {
      "main": [
        [
          {
            "node": "Extract Caller Number",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Caller Number": {
      "main": [
        [
          {
            "node": "Fetch Google Contacts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Google Contacts": {
      "main": [
        [
          {
            "node": "Parse Contacts List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Contacts List": {
      "main": [
        [
          {
            "node": "Is Unknown Contact?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Unknown Contact?": {
      "main": [
        [
          {
            "node": "Send SMS Notification",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Known Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send SMS Notification": {
      "main": [
        [
          {
            "node": "Log to Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log to Google Sheets": {
      "main": [
        [
          {
            "node": "Notify via Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "tags": [
    {
      "name": "SMS",
      "createdAt": "2024-01-01T00:00:00.000Z"
    },
    {
      "name": "Contacts Filter",
      "createdAt": "2024-01-01T00:00:00.000Z"
    },
    {
      "name": "Phone",
      "createdAt": "2024-01-01T00:00:00.000Z"
    }
  ]
}
