products/n8n-lead-qualifying-email-n8n-workflow-20260317/assets/workflow.json
{
  "name": "Lead Qualifying & Email n8n Workflow",
  "nodes": [
    {
      "id": "node1",
      "name": "Lead Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        200,
        300
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "lead-qualifier",
        "responseMode": "onReceived",
        "responseData": "allEntries",
        "options": {}
      }
    },
    {
      "id": "node2",
      "name": "Extract Lead Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        400,
        300
      ],
      "parameters": {
        "mode": "manual",
        "fields": {
          "values": [
            {
              "name": "firstName",
              "value": "={{ $json.body.firstName }}"
            },
            {
              "name": "lastName",
              "value": "={{ $json.body.lastName }}"
            },
            {
              "name": "email",
              "value": "={{ $json.body.email }}"
            },
            {
              "name": "company",
              "value": "={{ $json.body.company }}"
            },
            {
              "name": "jobTitle",
              "value": "={{ $json.body.jobTitle }}"
            },
            {
              "name": "companySize",
              "value": "={{ $json.body.companySize }}"
            },
            {
              "name": "budget",
              "value": "={{ $json.body.budget }}"
            },
            {
              "name": "interest",
              "value": "={{ $json.body.interest }}"
            },
            {
              "name": "source",
              "value": "={{ $json.body.source }}"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "node3",
      "name": "Score Lead",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        600,
        300
      ],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const item = $input.item.json;\nlet score = 0;\nlet tier = '';\n\n// Score by company size\nconst companySize = parseInt(item.companySize) || 0;\nif (companySize >= 500) score += 40;\nelse if (companySize >= 100) score += 25;\nelse if (companySize >= 10) score += 10;\nelse score += 2;\n\n// Score by budget\nconst budget = parseInt(item.budget) || 0;\nif (budget >= 50000) score += 40;\nelse if (budget >= 10000) score += 25;\nelse if (budget >= 1000) score += 10;\nelse score += 2;\n\n// Score by job title (decision makers)\nconst title = (item.jobTitle || '').toLowerCase();\nif (title.includes('ceo') || title.includes('cto') || title.includes('vp') || title.includes('director') || title.includes('founder')) {\n  score += 20;\n} else if (title.includes('manager') || title.includes('lead')) {\n  score += 10;\n} else {\n  score += 2;\n}\n\n// Determine tier\nif (score >= 80) tier = 'Hot';\nelse if (score >= 50) tier = 'Warm';\nelse tier = 'Cold';\n\nreturn {\n  json: {\n    ...item,\n    leadScore: score,\n    leadTier: tier,\n    qualifiedAt: new Date().toISOString()\n  }\n};"
      }
    },
    {
      "id": "node4",
      "name": "Is Qualified Lead",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        800,
        300
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition1",
              "leftValue": "={{ $json.leadTier }}",
              "rightValue": "Cold",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "node5",
      "name": "Log to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 2,
      "position": [
        1000,
        200
      ],
      "parameters": {
        "operation": "append",
        "documentId": "YOUR_GOOGLE_SHEET_ID",
        "sheetName": "Leads",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "First Name": "={{ $json.firstName }}",
            "Last Name": "={{ $json.lastName }}",
            "Email": "={{ $json.email }}",
            "Company": "={{ $json.company }}",
            "Job Title": "={{ $json.jobTitle }}",
            "Company Size": "={{ $json.companySize }}",
            "Budget": "={{ $json.budget }}",
            "Lead Score": "={{ $json.leadScore }}",
            "Lead Tier": "={{ $json.leadTier }}",
            "Source": "={{ $json.source }}",
            "Qualified At": "={{ $json.qualifiedAt }}"
          }
        },
        "options": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "id": "node6",
      "name": "Send Qualified Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [
        1200,
        200
      ],
      "parameters": {
        "fromEmail": "sales@yourcompany.com",
        "toEmail": "={{ $json.email }}",
        "subject": "={{ $json.leadTier === 'Hot' ? '🔥 Exclusive Offer Just for You, ' + $json.firstName + '!' : 'We\\'d Love to Connect, ' + $json.firstName + '!' }}",
        "emailFormat": "html",
        "html": "=<html>\n<body style=\"font-family: Arial, sans-serif; line-height: 1.6; color: #333;\">\n  <div style=\"max-width: 600px; margin: 0 auto; padding: 20px;\">\n    <h2 style=\"color: #2c3e50;\">Hi {{ $json.firstName }},</h2>\n    <p>Thank you for your interest in our solutions! We noticed you're from <strong>{{ $json.company }}</strong> and we'd love to explore how we can help you achieve your goals.</p>\n    {{ $json.leadTier === 'Hot' ? '<p style=\"background:#fff3cd;padding:15px;border-left:4px solid #ffc107;\"><strong>As a priority prospect, we\\'re offering you a complimentary 30-minute strategy session with one of our senior consultants.</strong></p>' : '<p>We have tailored solutions that can fit your needs and budget. Let\\'s schedule a quick call to discuss.</p>' }}\n    <p>Here\\'s what we can offer:</p>\n    <ul>\n      <li>✅ Customized solutions for {{ $json.companySize }}+ employee organizations</li>\n      <li>✅ Dedicated account management</li>\n      <li>✅ Flexible pricing starting within your budget</li>\n    </ul>\n    <a href=\"https://calendly.com/yourcompany/discovery\" style=\"background:#007bff;color:white;padding:12px 24px;text-decoration:none;border-radius:5px;display:inline-block;margin-top:10px;\">Book a Free Consultation</a>\n    <p style=\"margin-top:30px;\">Best regards,<br><strong>The Sales Team</strong><br>YourCompany Inc.<br>sales@yourcompany.com</p>\n  </div>\n</body>\n</html>",
        "options": {}
      },
      "credentials": {
        "smtp": {
          "id": "YOUR_SMTP_CREDENTIAL_ID",
          "name": "SMTP account"
        }
      }
    },
    {
      "id": "node7",
      "name": "Notify Sales on Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2,
      "position": [
        1400,
        200
      ],
      "parameters": {
        "operation": "message",
        "resource": "message",
        "channel": "#sales-leads",
        "text": "=🎯 *New {{ $json.leadTier }} Lead Qualified!*\n\n*Name:* {{ $json.firstName }} {{ $json.lastName }}\n*Company:* {{ $json.company }}\n*Title:* {{ $json.jobTitle }}\n*Company Size:* {{ $json.companySize }} employees\n*Budget:* ${{ $json.budget }}\n*Lead Score:* {{ $json.leadScore }}/100\n*Source:* {{ $json.source }}\n*Email:* {{ $json.email }}\n\n👉 <https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID|View in Google Sheets>",
        "otherOptions": {}
      },
      "credentials": {
        "slackApi": {
          "id": "YOUR_SLACK_CREDENTIAL_ID",
          "name": "Slack account"
        }
      }
    },
    {
      "id": "node8",
      "name": "Log Cold Lead to Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 2,
      "position": [
        1000,
        420
      ],
      "parameters": {
        "operation": "append",
        "documentId": "YOUR_GOOGLE_SHEET_ID",
        "sheetName": "Cold Leads",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "First Name": "={{ $json.firstName }}",
            "Last Name": "={{ $json.lastName }}",
            "Email": "={{ $json.email }}",
            "Company": "={{ $json.company }}",
            "Job Title": "={{ $json.jobTitle }}",
            "Company Size": "={{ $json.companySize }}",
            "Budget": "={{ $json.budget }}",
            "Lead Score": "={{ $json.leadScore }}",
            "Lead Tier": "={{ $json.leadTier }}",
            "Source": "={{ $json.source }}",
            "Qualified At": "={{ $json.qualifiedAt }}"
          }
        },
        "options": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "id": "node9",
      "name": "Send Nurture Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [
        1200,
        420
      ],
      "parameters": {
        "fromEmail": "sales@yourcompany.com",
        "toEmail": "={{ $json.email }}",
        "subject": "=Helpful Resources for {{ $json.firstName }} at {{ $json.company }}",
        "emailFormat": "html",
        "html": "=<html>\n<body style=\"font-family: Arial, sans-serif; line-height: 1.6; color: #333;\">\n  <div style=\"max-width: 600px; margin: 0 auto; padding: 20px;\">\n    <h2 style=\"color: #2c3e50;\">Hi {{ $json.firstName }},</h2>\n    <p>Thank you for reaching out! We wanted to share some helpful resources that might be valuable for {{ $json.company }}.</p>\n    <p>Here are some free resources to get you started:</p>\n    <ul>\n      <li>📘 <a href=\"https://yourcompany.com/ebook\">Free eBook: Scaling Your Business in 2024</a></li>\n      <li>🎥 <a href=\"https://yourcompany.com/webinar\">Upcoming Webinar: Best Practices for Growth</a></li>\n      <li>📊 <a href=\"https://yourcompany.com/case-studies\">Case Studies from Similar Companies</a></li>\n    </ul>\n    <p>When you\\'re ready to explore further, we\\'re here to help!</p>\n    <a href=\"https://yourcompany.com/contact\" style=\"background:#6c757d;color:white;padding:12px 24px;text-decoration:none;border-radius:5px;display:inline-block;margin-top:10px;\">Get in Touch</a>\n    <p style=\"margin-top:30px;\">Best regards,<br><strong>The Sales Team</strong><br>YourCompany Inc.</p>\n  </div>\n</body>\n</html>",
        "options": {}
      },
      "credentials": {
        "smtp": {
          "id": "YOUR_SMTP_CREDENTIAL_ID",
          "name": "SMTP account"
        }
      }
    }
  ],
  "connections": {
    "Lead Webhook": {
      "main": [
        [
          {
            "node": "Extract Lead Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Lead Data": {
      "main": [
        [
          {
            "node": "Score Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Score Lead": {
      "main": [
        [
          {
            "node": "Is Qualified Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Qualified Lead": {
      "main": [
        [
          {
            "node": "Log to Google Sheets",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Cold Lead to Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log to Google Sheets": {
      "main": [
        [
          {
            "node": "Send Qualified Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Qualified Email": {
      "main": [
        [
          {
            "node": "Notify Sales on Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Cold Lead to Sheets": {
      "main": [
        [
          {
            "node": "Send Nurture Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "tags": [
    {
      "name": "sales"
    },
    {
      "name": "lead-qualification"
    },
    {
      "name": "email-automation"
    }
  ]
}
